<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Raspberry Pi</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <img src="/img/rpi_logo.png" alt = "Raspberry Pi Logo" />
    <h1>Raspberry Pi</h1>
    <nav>
        <a href="/"> Home </a>
        <a href="/specs"> Specs </a>
        <a href = "/education"> Education </a>
        <a href="/uses"> Uses </a>
    </nav>
</head>
<body>
