<!DOCTYPE html>
<% include partials/header.ejs %>
<main>
<img src="/img/rpi_class.jpg" alt="Venus" />
    <p>The Raspberry Pi FOundation has a large variety of resources available for educators to teach all levels
    of students in the areas of programming and robotics.  Their Picademy resource is used for educators to
    teach themselves concepts related to the Raspberry Pi and its uses, as well as prepare them to implement
    lessons in order to teach these concepts to students as well.  They also have resources for people interested in
    teaching themselves to use the Raspberry Pis for their own projects.  Along with these resources and a thriving and
        active community on their website, they also organize clubs for younger programmers just getting started.
    Their program Code Club focuses on young programmers between the ages of 9-13, and CoderDojo focuses on people aged
        7-17.  Code Club has around 13000 clubs and helped serve over 180000 novice programmers per week.  CoderDojo,
    the more advanced of the two, has around 1900 Dojos that have 55000 regular attendees regularly. </p>
</main>
<% include partials/footer %>
