<!DOCTYPE html>
<% include partials/header.ejs %>
<main>
    <img src="/img/raspberry_pi.png" alt="Raspberry Pi" />
    <p>A Raspberry Pi is a small. lower-powered computer made by the UK-based charity,The Raspberry Pi Foundation.
    Their goal is to provide low cost computers to people all around the world, who would otherwise not have access to
    such resources.  Not only are their products inexpensive compared to anything with that type of power, they also
    provide free resources to help people learn about their products, and train teachers to help others learn as
    well.  Their main product is the Raspberry Pi computer itself, but they also accessories, and they support
    kits that provide the Pi with additional capabilities, including receiving incoming sensor data. </p>
<main/>
<% include partials/footer %>