<!DOCTYPE html>
<% include partials/header.ejs %>
<main>
    <img src="/img/specsjpg.jpg" alt="Raspberry Pi Hardware"/>
    <p>Raspberry Pis currently come in five main different models, the Raspberry Pi 0, Raspberry Pi 1, Raspberry Pi 2,
    Raspberry Pi 3, and Raspberry Pi 4.  Each of these has increasing power, and different versions that each also
    have varying power.  As you can see from the diagram, the Raspberry Pi 4 is equipped with 2 USB ports, 2 micro
    HDMI ports, wireless bluetooth capabilities, and a Gigabit ethernet port.  The Raspberry Pis have an associated
    operating system designed for optimal use of the device called Raspbian.  You can install other operating
    systems, but this is what the developers recommend.  This operating system is based on Debian, and the system is
    Linux based.  All of their chips are based on the ARM assembly language, which can be utilized for "baremetal"
    programming, programs that run without the operating system being active. The 4 model can have up to 4gb of RAM and
    is equipped with the Broadcom BCM2711, Quad core Cortex-A72 which runs at 1.5GHz.</p>
</main>
<% include partials/footer %>
