<!DOCTYPE html>
<% include partials/header.ejs %>
<main>
<img src="/img/rpi_class.jpg" alt="Classroom" />
<p>The Raspberry Pi has many uses, but is mostly used in an educational or hobbyist setting.  The 5V DC GPIO header
provides a wide range of uses for tinkerers, as well as more advanced users.  Using the header connected to a breadboard
users can connect sensors, actuators, and integrate the Pi with external power sources to turn larger devices on and off.
Using different publicly available libraries enables users to easily receive, interpret, and use external data from
sensors to make their programs come to life in the outside world. In the educational world, the Raspberry Pis provide
a cheap alternative to more powerful computers for students to be introduced to novice to advanced level programming
and circuitry. </p>
</main>
<% include partials/footer %>
